In [1]:
import numpy as np
import pandas as pd

In [2]:
aux_labels = ['uno', 'dos', 'tres']
aux_data = [5, 45, 85]

In [3]:
serie = pd.Series(aux_data)
serie

0     5
1    45
2    85
dtype: int64

In [4]:
serie[1]

45

In [5]:
serie = pd.Series(aux_data, aux_labels)
serie

uno      5
dos     45
tres    85
dtype: int64

In [6]:
serie['dos']

45

In [7]:
serie[1]

45

In [9]:
pd.DataFrame(np.random.rand(5, 4))

          0         1         2         3
0  0.744191  0.265989  0.067183  0.856751
1  0.972333  0.481891  0.664084  0.478184
2  0.691893  0.728236  0.099502  0.947722
3  0.488670  0.992330  0.881623  0.160584
4  0.250682  0.135503  0.752813  0.362403

In [13]:
df = pd.DataFrame(np.random.rand(5,6), ['USA', 'MEX', 'NIG', 'ENG', 'CHL'], ['A', 'B', 'C', 'D', 'E', 'F'])
df

            A         B         C         D         E         F
USA  0.861949  0.857407  0.813710  0.006897  0.252779  0.422294
MEX  0.638479  0.152606  0.440145  0.025700  0.468386  0.758536
NIG  0.351929  0.151051  0.373836  0.588002  0.404569  0.595348
ENG  0.697233  0.742879  0.723941  0.181486  0.547540  0.567331
CHL  0.480720  0.697333  0.470971  0.803710  0.041873  0.922366

In [14]:
df[['C', 'F']]

            C         F
USA  0.813710  0.422294
MEX  0.440145  0.758536
NIG  0.373836  0.595348
ENG  0.723941  0.567331
CHL  0.470971  0.922366

In [15]:
df.loc[['MEX', 'CHL']]

            A         B         C        D         E         F
MEX  0.638479  0.152606  0.440145  0.02570  0.468386  0.758536
CHL  0.480720  0.697333  0.470971  0.80371  0.041873  0.922366

In [16]:
df.loc[['MEX', 'CHL']][['C', 'F']]

            C         F
MEX  0.440145  0.758536
CHL  0.470971  0.922366